<app-navbar></app-navbar>
<main>
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h1 class="fw-bolder">Restaurants</h1>
      </div>
      <div class="row gx-5">
          <div class="col-lg-6">
              <div class="position-relative mb-5">
                  <img class="img-fluid rounded-3 mb-3" src="assets/one.jpg" alt="..." />
              </div>
          </div>
          <div class="col-lg-6">
              <div class="position-relative mb-5">
                  <img class="img-fluid rounded-3 mb-3" src="assets/two.jpg" alt="..." />
              </div>
          </div>
          <div class="col-lg-6">
              <div class="position-relative mb-5 mb-lg-0">
                  <img class="img-fluid rounded-3 mb-3" src="assets/four.webp" alt="..." />
              </div>
          </div>
          <div class="col-lg-6">
              <div class="position-relative">
                  <img class="img-fluid rounded-3 mb-3" src="assets/five.webp" alt="..." />
              </div>
          </div>
      </div>
    </div>
</main>
