<app-navbar></app-navbar>
<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Add Restaurant</h2>
      </div>
      <div class="row g-5 ">
        <div class="col-md-7 col-lg-12">
          <form [formGroup]="addRest" (ngSubmit)="createRest()"  ngNativeValidate>
            <div class="row g-3">
              <div class="col-sm-12 form-group">
                <label>Name</label>
                <input type="text"  class="form-control" formControlName="name" required>
              </div>
              <div class="col-12 form-group">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address" required>
              </div>
              <div class="col-12 form-group">
                <label>Contact</label>
                <input type="tel" class="form-control" formControlName="contact" required>
              </div>
              <div class="col-sm-12 form-group">
                <label>Rating</label>
                <input type="number" class="form-control" formControlName="rating" required>
              </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Add</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </main>
  </div>